[req]
default_bits=2048
prompt=no
days=365
default_md=sha256
req_extensions=req_ext
x509_extensions=req_ext
distinguished_name=dn 

[dn]
CN=*.dev.localhost

[req_ext]
subjectAltName=DNS:dev.localhost,DNS:.dev.localhost,DNS:*.dev.localhost

